.article_title a{
    color: inherit;
}

#toc {
    margin-top: 44px;
    padding-left: 15px;
}

#toc #toc_body{
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding-right: 10px;
}

#toc #toc_index {
    font-weight: bold;
    text-align: center;
    margin: 5px 0px;
}

#toc ul {
    padding-bottom: 0;
}

#toc li {
    list-style: decimal inside;
}

#toc li a{
    color: #333333;
}

#recent_item {
    margin-top: 20px;
    margin-left: 15px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    font-size: 110%;
}

#recent_item_index {
    font-weight: bold;
    text-align: center;
    margin: 5px 0px;
}

#recent_item ul {
    padding: 0 30px;
}

#recent_item li {
    list-style: none;
    margin-bottom: 13px;
    line-height: 18px;
}

#profile {
    margin-top: 20px;
    margin-left: 15px;
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    font-size: 95%;
    padding: 10px;
}

#profile_index {
    font-weight: bold;
    text-align: center;
    margin: 5px 0px;
}

#profile p{
    text-align: center;
    margin: 0px 5px;
}

#profile .icon{
    max-width: 40%;
}

#profile .name{
    font-size: 30px;
}

.social_buttons {
    margin-top: 50px;
}

.article h1{
    padding-left: 10px;
    border-left: thick solid #2196f3;
    margin-top: 40px;
    font-size: 28px;
}

.article h2{
    margin-top: 40px;
    font-size: 24px;
}

.article h3{
    margin-top: 30px;
    font-size: 19px;
}

.article h4{
    font-size: 16px;
}

.article h5{
    font-size: 12px;
}

.article h6{
    font-size: 10px;
}

.article > ul > li {
    margin-bottom: 20px;
}

.article > ul > li > p {
    margin-bottom: 0px;
}

.article img {
    max-width: 100%;
}
